<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>PHP in Astro</title>
	</head>
	<body>
<h1><?php echo "Hello PHP + Astro!" ?></h1>
		<h1>PHP in Astro</h1>
		<a href="/test">Check it out</a>
	</body>
</html>